# Pandas!

```pip install pandas```

In [1]:
import pandas as pd

### What is Pandas?
"Pandas is an open-source library that is built on top of NumPy library. It is a Python package that offers various data structures and operations for manipulating numerical data and time series. It is mainly popular for importing and analyzing data much easier. Pandas is fast and it has high-performance & productivity for users." 
~ GeeksForGeeks

### Dataframes
Intergral datastructure of Pandas. Can access data as columns or rows.

### CSV files
Comma-Separated-Values

#### Loading csv files into panda dataframes

In [2]:
df_fert = pd.read_csv('./data/fertility-rate.csv')
df_lit = pd.read_csv('./data/literacy-rate.csv', index_col="States/UTs")

(GFR: General Fertility Rate: Number of births per 1000 women of child-bearing age)

In [3]:
print(df_fert.tail())

       States/UTs  Total GFR  Rural GFR  Urban GFR
16      Rajasthan      102.1      108.9       81.8
17     Tamil Nadu       56.4       58.2       54.2
18  Uttar Pradesh      109.3      115.1       86.6
19    West Bengal       57.9       65.0       39.4
20          India       81.2       88.9       62.0

In [4]:
print(df_lit)

                             Persons   Male  Female  Rural Persons  \
States/UTs
Andaman and Nicobar Islands    86.63  90.27   82.43          84.50
Andhra Pradesh                 67.41  74.83   60.01          62.43
Andhra Pradesh (Un-divided)    67.02  74.88   59.15          60.45
Arunachal Pradesh              65.38  72.55   57.70          59.94
Assam                          72.19  77.85   66.27          69.34
Bihar                          61.80  71.20   51.50          59.78
Chandigarh                     86.05  89.99   81.19          80.75
Chhattisgarh                   70.28  80.27   60.24          65.99
Dadra and Nagar Haveli         76.24  85.17   64.32          64.12
Daman and Diu                  87.10  91.54   79.55          81.36
Delhi                          86.21  90.94   80.76          81.86
Goa                            88.70  92.65   84.66          86.65
Gujarat                        78.03  85.75   69.68          71.71
Haryana                        75.55  84.06   65.94          71.42
Himachal Pradesh               82.80  89.53   75.93          81.85
Jammu and Kashmir              67.16  76.75   56.43          63.18
Jharkhand                      66.41  76.84   55.42          61.11
Karnataka                      75.36  82.47   68.08          68.73
Kerala                         94.00  96.11   92.07          92.98
Lakshadweep                    91.85  95.56   87.95          91.58
Madhya Pradesh                 69.32  78.73   59.24          63.94
Maharashtra                    82.34  88.38   75.87          77.01
Manipur                        76.94  83.58   70.26          73.40
Meghalaya                      74.43  75.95   72.89          69.92
Mizoram                        91.33  93.35   89.27          84.10
Nagaland                       79.55  82.75   76.11          75.35
Odisha                         72.87  81.59   64.01          70.22
Puducherry                     85.85  91.26   80.67          80.10
Punjab                         75.84  80.44   70.73          71.42
Rajasthan                      66.11  79.19   52.12          61.44
Sikkim                         81.42  86.55   75.61          78.95
Tamil Nadu                     80.09  86.77   73.44          73.54
Telangana                      66.46  74.95   57.92          57.25
Tripura                        87.22  91.53   82.73          84.90
Uttar Pradesh                  67.68  77.28   57.18          65.46
Uttarakhand                    78.82  87.40   70.01          76.31
West Bengal                    76.26  81.69   70.54          72.13
India                          72.98  80.88   64.63          67.77

                             Rural Male  Rural Female  Urban Persons  \
States/UTs
Andaman and Nicobar Islands       88.53         79.85          90.10
Andhra Pradesh                    70.55         54.30          79.17
Andhra Pradesh (Un-divided)       69.38         51.54          80.09
Arunachal Pradesh                 67.44         52.04          82.93
Assam                             75.40         63.03          88.47
Bihar                             69.67         49.00          76.86
Chandigarh                        85.77         73.17          86.19
Chhattisgarh                      76.98         55.06          84.05
Dadra and Nagar Haveli            76.40         49.58          89.79
Daman and Diu                     89.43         71.93          88.96
Delhi                             89.37         73.10          86.32
Goa                               91.71         81.63          89.95
Gujarat                           81.61         61.36          86.31
Haryana                           81.55         60.02          83.14
Himachal Pradesh                  89.05         74.62          91.10
Jammu and Kashmir                 73.76         51.64          77.12
Jharkhand                         72.86         48.91          82.26
Karnataka                         77.61         59.71          85.78
Kerala                            95.35         90.81          95.11
Lakshadweep                       94.53         88.50          91.92
Madhya Pradesh                    74.74         52.43          82.85
Maharashtra                       85.15         68.54          88.69
Manipur                           80.29         66.34          85.38
Meghalaya                         71.46         68.37          90.79
Mizoram                           88.16         79.81          97.63
Nagaland                          78.96         71.51          89.62
Odisha                            79.65         60.74          85.75
Puducherry                        87.44         73.02          88.49
Punjab                            76.62         65.74          83.18
Rajasthan                         76.16         45.80          79.68
Sikkim                            84.62         72.45          88.71
Tamil Nadu                        82.04         65.05          87.04
Telangana                         67.48         47.11          81.09
Tripura                           90.07         79.49          93.47
Uttar Pradesh                     76.33         53.65          75.14
Uttarakhand                       86.62         66.18          84.45
West Bengal                       78.44         65.51          84.78
India                             77.15         57.93          84.11

                             Urban Male  Urban Female
States/UTs
Andaman and Nicobar Islands       93.11         86.63
Andhra Pradesh                    85.00         73.42
Andhra Pradesh (Un-divided)       85.79         74.35
Arunachal Pradesh                 88.45         76.66
Assam                             91.81         84.94
Bihar                             82.56         70.49
Chandigarh                        90.11         81.38
Chhattisgarh                      90.58         77.24
Dadra and Nagar Haveli            93.99         83.38
Daman and Diu                     92.10         82.88
Delhi                             90.98         80.95
Goa                               93.21         86.56
Gujarat                           90.98         81.03
Haryana                           88.63         76.90
Himachal Pradesh                  93.42         88.37
Jammu and Kashmir                 83.92         69.01
Jharkhand                         88.44         75.47
Karnataka                         90.04         81.36
Kerala                            96.95         93.44
Lakshadweep                       95.84         87.79
Madhya Pradesh                    88.67         76.52
Maharashtra                       92.12         84.89
Manipur                           91.68         79.31
Meghalaya                         92.46         89.14
Mizoram                           97.98         97.27
Nagaland                          91.62         87.40
Odisha                            90.72         80.42
Puducherry                        93.03         84.17
Punjab                            86.67         79.21
Rajasthan                         87.91         70.73
Sikkim                            92.35         84.70
Tamil Nadu                        91.80         82.31
Telangana                         86.65         75.39
Tripura                           95.51         91.38
Uttar Pradesh                     80.45         69.22
Uttarakhand                       89.05         79.25
West Bengal                       88.37         80.98
India                             88.76         79.11

### Accessing by Columns

In [5]:
print(df_fert["States/UTs"].head())

0    Andhra Pradesh
1             Assam
2             Bihar
3      Chhattisgarh
4             Delhi
Name: States/UTs, dtype: object

In [6]:
print(df_lit.index)

Index(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Andhra Pradesh (Un-divided)', 'Arunachal Pradesh', 'Assam', 'Bihar',
       'Chandigarh', 'Chhattisgarh', 'Dadra and Nagar Haveli', 'Daman and Diu',
       'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim',
       'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand',
       'West Bengal', 'India'],
      dtype='object', name='States/UTs')

In [7]:
# print(df_fert[["cilumn1", "column2"]])

print(df_fert[["Rural GFR", "States/UTs"]].head(7))

   Rural GFR      States/UTs
0       63.6  Andhra Pradesh
1       88.8           Assam
2      118.2           Bihar
3       99.1    Chhattisgarh
4       70.9           Delhi
5       87.0         Gujarat
6       85.7         Haryana

In [8]:
# creating a new dataframe with only two columns
temp = df_fert[["States/UTs","Rural GFR"]]
print(temp.head())

       States/UTs  Rural GFR
0  Andhra Pradesh       63.6
1           Assam       88.8
2           Bihar      118.2
3    Chhattisgarh       99.1
4           Delhi       70.9

In [9]:
# selecting a range of columns

print(df_fert.columns[1:4])

print(df_fert[df_fert.columns[1:4]].head())

Index(['Total GFR', 'Rural GFR', 'Urban GFR'], dtype='object')
   Total GFR  Rural GFR  Urban GFR
0       60.7       63.6       54.4
1       82.8       88.8       51.3
2      114.4      118.2       83.8
3       91.9       99.1       62.3
4       63.3       70.9       62.1

### Rename Columns

In [10]:
df_fert.rename(columns={"Urban GFR":"Urban", "Rural GFR":"Rural", "Total GFR":"tot"}, inplace=True)

In [11]:
print(df_fert.head())

       States/UTs    tot  Rural  Urban
0  Andhra Pradesh   60.7   63.6   54.4
1           Assam   82.8   88.8   51.3
2           Bihar  114.4  118.2   83.8
3    Chhattisgarh   91.9   99.1   62.3
4           Delhi   63.3   70.9   62.1

### Accessing by Rows

In [12]:
print(df_fert)

           States/UTs    tot  Rural  Urban
0      Andhra Pradesh   60.7   63.6   54.4
1               Assam   82.8   88.8   51.3
2               Bihar  114.4  118.2   83.8
3        Chhattisgarh   91.9   99.1   62.3
4               Delhi   63.3   70.9   62.1
5             Gujarat   79.7   87.0   68.7
6             Haryana   80.7   85.7   69.9
7    Himachal Pradesh   57.3   59.3   37.8
8   Jammu and Kashmir   62.5   67.7   43.8
9           Jharkhand   96.1  102.9   69.2
10          Karnataka   65.8   70.3   58.2
11             Kerala   54.2   55.2   51.3
12     Madhya Pradesh  103.4  113.0   71.9
13        Maharashtra   61.6   66.6   55.5
14             Odisha   72.6   76.5   50.2
15             Punjab   59.9   62.2   56.2
16          Rajasthan  102.1  108.9   81.8
17         Tamil Nadu   56.4   58.2   54.2
18      Uttar Pradesh  109.3  115.1   86.6
19        West Bengal   57.9   65.0   39.4
20              India   81.2   88.9   62.0

In [13]:
print(df_fert.loc[0])

States/UTs    Andhra Pradesh
tot                     60.7
Rural                   63.6
Urban                   54.4
Name: 0, dtype: object

In [14]:
print(df_lit.head())

                             Persons   Male  Female  Rural Persons  \
States/UTs
Andaman and Nicobar Islands    86.63  90.27   82.43          84.50
Andhra Pradesh                 67.41  74.83   60.01          62.43
Andhra Pradesh (Un-divided)    67.02  74.88   59.15          60.45
Arunachal Pradesh              65.38  72.55   57.70          59.94
Assam                          72.19  77.85   66.27          69.34

                             Rural Male  Rural Female  Urban Persons  \
States/UTs
Andaman and Nicobar Islands       88.53         79.85          90.10
Andhra Pradesh                    70.55         54.30          79.17
Andhra Pradesh (Un-divided)       69.38         51.54          80.09
Arunachal Pradesh                 67.44         52.04          82.93
Assam                             75.40         63.03          88.47

                             Urban Male  Urban Female
States/UTs
Andaman and Nicobar Islands       93.11         86.63
Andhra Pradesh                    85.00         73.42
Andhra Pradesh (Un-divided)       85.79         74.35
Arunachal Pradesh                 88.45         76.66
Assam                             91.81         84.94

In [15]:
print(df_lit.loc["Rajasthan"])

Persons          66.11
Male             79.19
Female           52.12
Rural Persons    61.44
Rural Male       76.16
Rural Female     45.80
Urban Persons    79.68
Urban Male       87.91
Urban Female     70.73
Name: Rajasthan, dtype: float64

In [16]:
# print(df_lit.loc[2])
# wont work becasue index is now states

# but instead, we can use iloc
print(df_lit.iloc[2])

Persons          67.02
Male             74.88
Female           59.15
Rural Persons    60.45
Rural Male       69.38
Rural Female     51.54
Urban Persons    80.09
Urban Male       85.79
Urban Female     74.35
Name: Andhra Pradesh (Un-divided), dtype: float64

In [17]:
# turns out that the index is not unique!!

### Trying out ```loc``` and ```iloc```

In [18]:
print(df_fert.head())

       States/UTs    tot  Rural  Urban
0  Andhra Pradesh   60.7   63.6   54.4
1           Assam   82.8   88.8   51.3
2           Bihar  114.4  118.2   83.8
3    Chhattisgarh   91.9   99.1   62.3
4           Delhi   63.3   70.9   62.1

The following line prints all the rows from 3 till 7 (excluding 7), and print the corresponding column values for the columns from "States/UTs" to "Rural"
so basically we are filtering both columns and rows.

recall what this syntax [3:7:2] it is very commonly used in Python.

It basically means iterate from 3 to 7, skipping 2 at a time.

in C, that would be: for(int i=3; i<7; i+=2)

In [19]:
print(df_fert.loc[3:7, "States/UTs":"Rural"])

         States/UTs   tot  Rural
3      Chhattisgarh  91.9   99.1
4             Delhi  63.3   70.9
5           Gujarat  79.7   87.0
6           Haryana  80.7   85.7
7  Himachal Pradesh  57.3   59.3

Similarly here, we print rows 0 to 3 and columns 0 to 2

In [20]:
print(df_fert.iloc[0:3,0:2])

       States/UTs    tot
0  Andhra Pradesh   60.7
1           Assam   82.8
2           Bihar  114.4

we can add conditions and print only those rows satisfying the conditions.

The following line prints those rows for which Total GFR is < 60

In [21]:
print(df_fert.loc[df_fert["tot"] < 60])

          States/UTs   tot  Rural  Urban
7   Himachal Pradesh  57.3   59.3   37.8
11            Kerala  54.2   55.2   51.3
15            Punjab  59.9   62.2   56.2
17        Tamil Nadu  56.4   58.2   54.2
19       West Bengal  57.9   65.0   39.4

Now this following line is a more 'nested' condition. look at it part by part to understand. It does the following things:
- Select the rows which have Total GFR (we have renamed it to tot earlier...) < 60
- Selects the rows for which Urban GFR > 50
- performs and intersectoin of these two conditions because we have an '&', so it needs to satisfy both the conditions
- Finally, we want to print values only for the columns "States/UTs", "tot" and "Urban"

In [22]:
print(df_fert.loc[(df_fert["tot"] < 60) & (df_fert["Urban"] > 50), ["States/UTs", "tot", "Urban"]])

    States/UTs   tot  Urban
11      Kerala  54.2   51.3
15      Punjab  59.9   56.2
17  Tamil Nadu  56.4   54.2

### Missing Data

Sometimes the data might have some missing entries. In these situations, you need to decide what is the best strategy. Either substitute the missing values with some other value, like average. Or you can delete those rows.

Missing or NULL values are shown as nan in python

(In our particular data, we do not have nan. but if you want to try, delete some values from the csv file and load it again and try.)

In [23]:
# This will fill all the nan values with 0
df_fert.fillna(0, inplace=True)

In [24]:
# This will delete all rows with nan values
df_fert.dropna(inplace=True)

### Iterating over rows and columns

This is literally a for loop going row by row.

the i will have the index for that row

the j will have the whole row

In [25]:
for i, j in df_fert.iterrows():
    print(i,j)

0 States/UTs    Andhra Pradesh
tot                     60.7
Rural                   63.6
Urban                   54.4
Name: 0, dtype: object
1 States/UTs    Assam
tot            82.8
Rural          88.8
Urban          51.3
Name: 1, dtype: object
2 States/UTs    Bihar
tot           114.4
Rural         118.2
Urban          83.8
Name: 2, dtype: object
3 States/UTs    Chhattisgarh
tot                   91.9
Rural                 99.1
Urban                 62.3
Name: 3, dtype: object
4 States/UTs    Delhi
tot            63.3
Rural          70.9
Urban          62.1
Name: 4, dtype: object
5 States/UTs    Gujarat
tot              79.7
Rural            87.0
Urban            68.7
Name: 5, dtype: object
6 States/UTs    Haryana
tot              80.7
Rural            85.7
Urban            69.9
Name: 6, dtype: object
7 States/UTs    Himachal Pradesh
tot                       57.3
Rural                     59.3
Urban                     37.8
Name: 7, dtype: object
8 States/UTs    Jammu and Kashmir
tot                        62.5
Rural                      67.7
Urban                      43.8
Name: 8, dtype: object
9 States/UTs    Jharkhand
tot                96.1
Rural             102.9
Urban              69.2
Name: 9, dtype: object
10 States/UTs    Karnataka
tot                65.8
Rural              70.3
Urban              58.2
Name: 10, dtype: object
11 States/UTs    Kerala
tot             54.2
Rural           55.2
Urban           51.3
Name: 11, dtype: object
12 States/UTs    Madhya Pradesh
tot                    103.4
Rural                  113.0
Urban                   71.9
Name: 12, dtype: object
13 States/UTs    Maharashtra
tot                  61.6
Rural                66.6
Urban                55.5
Name: 13, dtype: object
14 States/UTs    Odisha
tot             72.6
Rural           76.5
Urban           50.2
Name: 14, dtype: object
15 States/UTs    Punjab
tot             59.9
Rural           62.2
Urban           56.2
Name: 15, dtype: object
16 States/UTs    Rajasthan
tot               102.1
Rural             108.9
Urban              81.8
Name: 16, dtype: object
17 States/UTs    Tamil Nadu
tot                 56.4
Rural               58.2
Urban               54.2
Name: 17, dtype: object
18 States/UTs    Uttar Pradesh
tot                   109.3
Rural                 115.1
Urban                  86.6
Name: 18, dtype: object
19 States/UTs    West Bengal
tot                  57.9
Rural                65.0
Urban                39.4
Name: 19, dtype: object
20 States/UTs    India
tot            81.2
Rural          88.9
Urban          62.0
Name: 20, dtype: object

In [26]:
for i, j in df_lit.iterrows():
    print(i,j)

Andaman and Nicobar Islands Persons          86.63
Male             90.27
Female           82.43
Rural Persons    84.50
Rural Male       88.53
Rural Female     79.85
Urban Persons    90.10
Urban Male       93.11
Urban Female     86.63
Name: Andaman and Nicobar Islands, dtype: float64
Andhra Pradesh Persons          67.41
Male             74.83
Female           60.01
Rural Persons    62.43
Rural Male       70.55
Rural Female     54.30
Urban Persons    79.17
Urban Male       85.00
Urban Female     73.42
Name: Andhra Pradesh, dtype: float64
Andhra Pradesh (Un-divided) Persons          67.02
Male             74.88
Female           59.15
Rural Persons    60.45
Rural Male       69.38
Rural Female     51.54
Urban Persons    80.09
Urban Male       85.79
Urban Female     74.35
Name: Andhra Pradesh (Un-divided), dtype: float64
Arunachal Pradesh Persons          65.38
Male             72.55
Female           57.70
Rural Persons    59.94
Rural Male       67.44
Rural Female     52.04
Urban Persons    82.93
Urban Male       88.45
Urban Female     76.66
Name: Arunachal Pradesh, dtype: float64
Assam Persons          72.19
Male             77.85
Female           66.27
Rural Persons    69.34
Rural Male       75.40
Rural Female     63.03
Urban Persons    88.47
Urban Male       91.81
Urban Female     84.94
Name: Assam, dtype: float64
Bihar Persons          61.80
Male             71.20
Female           51.50
Rural Persons    59.78
Rural Male       69.67
Rural Female     49.00
Urban Persons    76.86
Urban Male       82.56
Urban Female     70.49
Name: Bihar, dtype: float64
Chandigarh Persons          86.05
Male             89.99
Female           81.19
Rural Persons    80.75
Rural Male       85.77
Rural Female     73.17
Urban Persons    86.19
Urban Male       90.11
Urban Female     81.38
Name: Chandigarh, dtype: float64
Chhattisgarh Persons          70.28
Male             80.27
Female           60.24
Rural Persons    65.99
Rural Male       76.98
Rural Female     55.06
Urban Persons    84.05
Urban Male       90.58
Urban Female     77.24
Name: Chhattisgarh, dtype: float64
Dadra and Nagar Haveli Persons          76.24
Male             85.17
Female           64.32
Rural Persons    64.12
Rural Male       76.40
Rural Female     49.58
Urban Persons    89.79
Urban Male       93.99
Urban Female     83.38
Name: Dadra and Nagar Haveli, dtype: float64
Daman and Diu Persons          87.10
Male             91.54
Female           79.55
Rural Persons    81.36
Rural Male       89.43
Rural Female     71.93
Urban Persons    88.96
Urban Male       92.10
Urban Female     82.88
Name: Daman and Diu, dtype: float64
Delhi Persons          86.21
Male             90.94
Female           80.76
Rural Persons    81.86
Rural Male       89.37
Rural Female     73.10
Urban Persons    86.32
Urban Male       90.98
Urban Female     80.95
Name: Delhi, dtype: float64
Goa Persons          88.70
Male             92.65
Female           84.66
Rural Persons    86.65
Rural Male       91.71
Rural Female     81.63
Urban Persons    89.95
Urban Male       93.21
Urban Female     86.56
Name: Goa, dtype: float64
Gujarat Persons          78.03
Male             85.75
Female           69.68
Rural Persons    71.71
Rural Male       81.61
Rural Female     61.36
Urban Persons    86.31
Urban Male       90.98
Urban Female     81.03
Name: Gujarat, dtype: float64
Haryana Persons          75.55
Male             84.06
Female           65.94
Rural Persons    71.42
Rural Male       81.55
Rural Female     60.02
Urban Persons    83.14
Urban Male       88.63
Urban Female     76.90
Name: Haryana, dtype: float64
Himachal Pradesh Persons          82.80
Male             89.53
Female           75.93
Rural Persons    81.85
Rural Male       89.05
Rural Female     74.62
Urban Persons    91.10
Urban Male       93.42
Urban Female     88.37
Name: Himachal Pradesh, dtype: float64
Jammu and Kashmir Persons          67.16
Male             76.75
Female           56.43
Rural Persons    63.18
Rural Male       73.76
Rural Female     51.64
Urban Persons    77.12
Urban Male       83.92
Urban Female     69.01
Name: Jammu and Kashmir, dtype: float64
Jharkhand Persons          66.41
Male             76.84
Female           55.42
Rural Persons    61.11
Rural Male       72.86
Rural Female     48.91
Urban Persons    82.26
Urban Male       88.44
Urban Female     75.47
Name: Jharkhand, dtype: float64
Karnataka Persons          75.36
Male             82.47
Female           68.08
Rural Persons    68.73
Rural Male       77.61
Rural Female     59.71
Urban Persons    85.78
Urban Male       90.04
Urban Female     81.36
Name: Karnataka, dtype: float64
Kerala Persons          94.00
Male             96.11
Female           92.07
Rural Persons    92.98
Rural Male       95.35
Rural Female     90.81
Urban Persons    95.11
Urban Male       96.95
Urban Female     93.44
Name: Kerala, dtype: float64
Lakshadweep Persons          91.85
Male             95.56
Female           87.95
Rural Persons    91.58
Rural Male       94.53
Rural Female     88.50
Urban Persons    91.92
Urban Male       95.84
Urban Female     87.79
Name: Lakshadweep, dtype: float64
Madhya Pradesh Persons          69.32
Male             78.73
Female           59.24
Rural Persons    63.94
Rural Male       74.74
Rural Female     52.43
Urban Persons    82.85
Urban Male       88.67
Urban Female     76.52
Name: Madhya Pradesh, dtype: float64
Maharashtra Persons          82.34
Male             88.38
Female           75.87
Rural Persons    77.01
Rural Male       85.15
Rural Female     68.54
Urban Persons    88.69
Urban Male       92.12
Urban Female     84.89
Name: Maharashtra, dtype: float64
Manipur Persons          76.94
Male             83.58
Female           70.26
Rural Persons    73.40
Rural Male       80.29
Rural Female     66.34
Urban Persons    85.38
Urban Male       91.68
Urban Female     79.31
Name: Manipur, dtype: float64
Meghalaya Persons          74.43
Male             75.95
Female           72.89
Rural Persons    69.92
Rural Male       71.46
Rural Female     68.37
Urban Persons    90.79
Urban Male       92.46
Urban Female     89.14
Name: Meghalaya, dtype: float64
Mizoram Persons          91.33
Male             93.35
Female           89.27
Rural Persons    84.10
Rural Male       88.16
Rural Female     79.81
Urban Persons    97.63
Urban Male       97.98
Urban Female     97.27
Name: Mizoram, dtype: float64
Nagaland Persons          79.55
Male             82.75
Female           76.11
Rural Persons    75.35
Rural Male       78.96
Rural Female     71.51
Urban Persons    89.62
Urban Male       91.62
Urban Female     87.40
Name: Nagaland, dtype: float64
Odisha Persons          72.87
Male             81.59
Female           64.01
Rural Persons    70.22
Rural Male       79.65
Rural Female     60.74
Urban Persons    85.75
Urban Male       90.72
Urban Female     80.42
Name: Odisha, dtype: float64
Puducherry Persons          85.85
Male             91.26
Female           80.67
Rural Persons    80.10
Rural Male       87.44
Rural Female     73.02
Urban Persons    88.49
Urban Male       93.03
Urban Female     84.17
Name: Puducherry, dtype: float64
Punjab Persons          75.84
Male             80.44
Female           70.73
Rural Persons    71.42
Rural Male       76.62
Rural Female     65.74
Urban Persons    83.18
Urban Male       86.67
Urban Female     79.21
Name: Punjab, dtype: float64
Rajasthan Persons          66.11
Male             79.19
Female           52.12
Rural Persons    61.44
Rural Male       76.16
Rural Female     45.80
Urban Persons    79.68
Urban Male       87.91
Urban Female     70.73
Name: Rajasthan, dtype: float64
Sikkim Persons          81.42
Male             86.55
Female           75.61
Rural Persons    78.95
Rural Male       84.62
Rural Female     72.45
Urban Persons    88.71
Urban Male       92.35
Urban Female     84.70
Name: Sikkim, dtype: float64
Tamil Nadu Persons          80.09
Male             86.77
Female           73.44
Rural Persons    73.54
Rural Male       82.04
Rural Female     65.05
Urban Persons    87.04
Urban Male       91.80
Urban Female     82.31
Name: Tamil Nadu, dtype: float64
Telangana Persons          66.46
Male             74.95
Female           57.92
Rural Persons    57.25
Rural Male       67.48
Rural Female     47.11
Urban Persons    81.09
Urban Male       86.65
Urban Female     75.39
Name: Telangana, dtype: float64
Tripura Persons          87.22
Male             91.53
Female           82.73
Rural Persons    84.90
Rural Male       90.07
Rural Female     79.49
Urban Persons    93.47
Urban Male       95.51
Urban Female     91.38
Name: Tripura, dtype: float64
Uttar Pradesh Persons          67.68
Male             77.28
Female           57.18
Rural Persons    65.46
Rural Male       76.33
Rural Female     53.65
Urban Persons    75.14
Urban Male       80.45
Urban Female     69.22
Name: Uttar Pradesh, dtype: float64
Uttarakhand Persons          78.82
Male             87.40
Female           70.01
Rural Persons    76.31
Rural Male       86.62
Rural Female     66.18
Urban Persons    84.45
Urban Male       89.05
Urban Female     79.25
Name: Uttarakhand, dtype: float64
West Bengal Persons          76.26
Male             81.69
Female           70.54
Rural Persons    72.13
Rural Male       78.44
Rural Female     65.51
Urban Persons    84.78
Urban Male       88.37
Urban Female     80.98
Name: West Bengal, dtype: float64
India Persons          72.98
Male             80.88
Female           64.63
Rural Persons    67.77
Rural Male       77.15
Rural Female     57.93
Urban Persons    84.11
Urban Male       88.76
Urban Female     79.11
Name: India, dtype: float64

### Statistics
some inbuilt statistical measures

In [27]:
# print average of tot column
print(df_fert["tot"].mean())

76.84761904761906

In [28]:
print(df_fert.describe())

              tot       Rural      Urban
count   21.000000   21.000000  21.000000
mean    76.847619   82.052381  60.504762
std     19.316719   20.620296  13.578530
min     54.200000   55.200000  37.800000
25%     60.700000   65.000000  51.300000
50%     72.600000   76.500000  58.200000
75%     91.900000   99.100000  69.200000
max    114.400000  118.200000  86.600000

In [29]:
print(df_fert["States/UTs"].describe())

count                 21
unique                21
top       Andhra Pradesh
freq                   1
Name: States/UTs, dtype: object

There are many many more such things you can do. This is just to show you some things which are possible.
As per your requirements, you should be ready to google the syntax for the different functions.